<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba del documento</title>
    <script src="{{ url_for('static', filename='js/index.js') }}" defer>Go Home</script>
</head>
<body>
    <h1>This is Index</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla auctor,
        <p>Holi boli, si cambia</p>
        <button onclick="window.location.href='home'">Home</button>
</body>
</html>